<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = '/css/index.css') }}">
    <title>tabla HTML</title>
</head>
<body>
<table>
    <tr class="titulo">
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Nombre completo</th>
    </tr>
    <ul>
        {% for usuarios in usuarios %}
        <tr class="usuarios">
            <td>{{usuarios ['nombre'] }}</td>
            <td>{{ usuarios ['apellido'] }}</td>
            <td>{{ usuarios ['nombre completo'] }}</td>
        </tr>
        {% endfor %}
    </ul>
</table>

</body>