.row{
    display: flex;
    justify-content: center;
    
}
.col{
    flex: 1;
    padding: 10px;
    margin: 10px;
    background-color: blueviolet;
}
.col{
    flex: 1;
    padding: 10px;
    margin: 10px;
}
.col-2{
    flex: 2;
    padding: 10px;
    margin: 10px;
    
}
.col-2{
    flex: 2;
    padding: 10px;
    margin: 10px;
    background-color: blueviolet;
}
.col-3{
    flex: 3;
    padding: 10px;
    margin: 10px;
    background-color: blueviolet;
}